@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_slnt_wght.ttf") format("truetype");
  font-weight: 400 600 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Inter";
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}
a:hover {
  color: #333333;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #141414;
  height: 100vh;
}
.main .container {
  padding: 40px;
  width: 384px;
  background-color: #1F1F1F;
  border-radius: 12px;
}
@media screen and (max-width: 768px) {
  .main .container {
    width: 456px;
  }
}
@media screen and (max-width: 480px) {
  .main .container {
    padding: 24px;
    width: 327px;
  }
}
@media screen and (max-width: 340px) {
  .main .container {
    padding: 18px;
    width: 300px;
  }
}
.main .container .about {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main .container .about__title {
  margin: 26px 0 4px;
  font-size: 1.5rem;
  line-height: 36px;
  font-weight: 600;
}
.main .container .about__description {
  margin-bottom: 24px;
  font-size: 0.87rem;
  line-height: 21px;
  font-weight: 700;
  color: #C4F82A;
}
.main .container .about__text {
  margin-bottom: 24px;
  font-size: 0.87rem;
  line-height: 21px;
  font-weight: 400;
}
.main .container .navigation {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px 0;
}
.main .container .navigation__link-btn {
  padding: 12px 0;
  background-color: #333333;
  min-width: 300px;
  border-radius: 8px;
  font-size: 0.87rem;
  line-height: 21px;
  font-weight: 700;
  transition: 0.1s;
}
@media screen and (max-width: 480px) {
  .main .container .navigation__link-btn {
    min-width: 279px;
  }
}
@media screen and (max-width: 340px) {
  .main .container .navigation__link-btn {
    min-width: 260px;
  }
}
@media (hover: hover) {
  .main .container .navigation__link-btn:hover {
    background-color: #C4F82A;
    cursor: pointer;
  }
  .main .container .navigation__link-btn:active {
    opacity: 0.5;
  }
}
.main .footer {
  position: absolute;
  bottom: 10px;
  font-size: 0.69rem;
}
.main .footer span {
  color: #C4F82A;
}
@media (hover: hover) {
  .main .footer span:hover {
    color: #698515;
    cursor: pointer;
  }
  .main .footer span:active {
    opacity: 0.5;
  }
}/*# sourceMappingURL=style.css.map */